.detail-rick {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 1rem;
  background: linear-gradient(135deg, #020617 0%, #0da724ca 50%, #065f46 100%);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #ddd;
}

.detail-rick img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 0.5rem;
}
