.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #000920;
  padding: 10px 0;
  border-bottom: 2px solid #0ff;
}

.navbar a {
  cursor: pointer;
}

.navbar a img {
  width: 70px;
  height: auto;
  transition: transform 0.1s ease, filter 0.1s ease;
  filter: brightness(0.8);
}

.navbar a img:hover,
.navbar a.active img {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.main-container {
  padding: 10px;
}
